<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="dolphin-detail-page">
        <div class="dolphin-detail-title">基本信息</div>
        <table class="layui-table dolphin-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${cate.id}"></td>
                    <th>分类名称</th>
                    <td th:text="${cate.name}"></td>
                </tr>
                <tr>
                    <th>图标</th>
                    <td th:text="${cate.fontIcon}"></td>
                    <th>别名</th>
                                <td th:text="${cate.cnName}"></td>
                </tr>
                <tr>
                    <th>说明</th>
                    <td  th:text="${cate.info}"></td>
                </tr>
                <tr>
                    <th>创建者</th>
                    <td th:text="${cate.createBy?.nickname}"></td>
                    <th>更新者</th>
                    <td th:text="${cate.updateBy?.nickname}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(cate.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(cate.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>
