<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="dolphin-detail-page">
        <div class="dolphin-detail-title">基本信息</div>
        <table class="layui-table dolphin-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${link.id}"></td>
                    <th>网站标题</th>
                    <td th:text="${link.title}"></td>
                </tr>
                <tr>
                    <th>网站地址</th>
                    <td th:text="${link.url}"></td>
                    <th>图片</th>
                    <td th:text="${link.img}"></td>
                </tr>
                <tr>
                    <th>创建者</th>
                    <td th:text="${link.createBy?.nickname}"></td>
                    <th>更新者</th>
                    <td th:text="${link.updateBy?.nickname}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(link.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(link.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
                <tr>
                    <th>说明</th>
                    <td th:text="${link.remark}" colspan="3"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>
