<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header style="background-color: transparent;">

    <!--
             ▄              ▄
            ▌▒█           ▄▀▒▌
            ▌▒▒▀▄        ▀▒▒▒▐
           ▐▄▀▒▒▀▀▀▀▄▄▄▀▒▒▒▒▒▐
         ▄▄▀▒▒▒▒▒▒▒▒▒▒▒█▒▒▄█▒▐
       ▄▀▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█▒▒▒▒▒▐
      ▐▒▒▒▄▄▄▒▒▒▒▒▒▒▒▒▒▒▒▒▀▄▒▒▌
      ▌▒▒▐▄█▀▒▒▒▒▄▀█▄▒▒▒▒▒▒▒█▒▐
     ▐▒▒▒▒▒▒▒▒▒▒▒▌██▀▒▒▒▒▒▒▒▒▀▄▌
     ▌▒▀▄██▄▒▒▒▒▒▒▒▒▒▒▒░░░░▒▒▒▒▌
     ▌▀▐▄█▄█▌▄▒▀▒▒▒▒▒▒░░░░░░▒▒▒▐
    ▐▒▀▐▀▐▀▒▒▄▄▒▄▒▒▒  typecho  ▒▌
    ▐▒▒▒▀▀▄▄▒▒▒▄▒▒▒▒▒▒░░░░░░▒▒▒▐
     ▌▒▒▒▒▒▒▀▀▀▒▒▒▒▒▒▒▒░░░░▒▒▒▒▌
     ▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▐
      ▀ yo-du ▒▒▒▒▒▒▒▒▒▒▒▄▒▒▒▒▌
        ▀▄▒▒▒▒▒▒▒▒▒▒▄▄▄▀▒▒▒▒▄▀
       ▐▀▒▀▄▄▄▄▄▄▀▀▀▒▒▒▒▒▄▄▀
      ▐▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▀▀

      --你好，世界！生活，从敲的第一行代码开始。
  -->


    <input type="hidden" id="userId" value="">
    <input type="hidden" id="nickname" value="">
    <input type="hidden" id="picture" value="">

    <div class="layui-header layui-layout-admin">
        <div class="layui-logo" style="    padding-left: 50px;">
            <a href="/">
                <img src="/images/logo.png" oncontextmenu="return false;" ondragstart="return false;">
            </a>
        </div>

        <!-- 导航区域 -->
        <ul class="layui-nav layui-layout-right" style="padding-right: 50px;">
            <li class="layui-nav-item">
                <a href="/"><span class="layui-nav-title">首页</span></a>

            </li>
            <li class="layui-nav-item">
                <a href="/article/pages"><span class="layui-nav-title">学无止境</span></a>

            </li>
            <li class="layui-nav-item">
                <a href="/frontend/message"><span class="layui-nav-title">网站留言</span></a>

            </li>
            <li class="layui-nav-item">
                <a href="/frontend/about"><span class="layui-nav-title">关于本站</span></a>

            </li>
            <li class="layui-nav-item">
                <a href="#"><span class="layui-nav-title">在线工具</span><span class="layui-nav-more"></span></a>
                <dl class="layui-nav-child layui-anim layui-anim-upbit">
                    <dd>
                        <a href="/frontend/compiler/index" target="_blank"><span class="layui-nav-title">Java在线工具</span></a>

                    </dd>
                    <dd>
                        <a href="/frontend/json" target="_blank"><span class="layui-nav-title">Json在线解析</span></a>

                    </dd>
                </dl>
            </li>

            <span class="layui-nav-bar" style="left: 260px; top: 55px; width: 0px; opacity: 0;"></span></ul>
    </div>
</header>
</body>
</html>