<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="dolphin-detail-page">
        <div class="dolphin-detail-title">基本信息</div>
        <table class="layui-table dolphin-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${errorLog.id}"></td>
                    <th>异常内容</th>
                    <td th:text="${errorLog.content}"></td>
                </tr>
                <tr>
                    <th>日志等级</th>
                    <td th:text="${errorLog.level}"></td>
                    <th>线程名称</th>
                    <td th:text="${errorLog.threadName}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(errorLog.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(errorLog.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>
